/* Overlay style */
.two-factor-auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal appears above other content */
}

/* Modal container style */
.two-factor-auth-container {
  background-color: white;
  padding: 20px;
  gap: 20px;
  border-radius: 8px;
  width: 300px; /* Adjust the width of the modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.qr-code-item {
  margin-bottom: 15px;
  /* display: flex; */
}

.qr-code-item img {
  width: 200px;
  height: 200px;
}

.auth-code-input input {
  padding: 10px;
  margin-bottom: 10px;
}

.auth-code-input button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 100px;
  border-radius: 5px;
}

.auth-code-input button:hover {
  background-color: #45a049;
}

.auth-code-input .cancel-button {
  background-color: #f44336; /* Red background for cancel button */
  margin-top: 10px;
  width: 100px;
  border-radius: 5px;

}

.auth-code-input .cancel-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

.button-container {
  display: flex;
  margin: auto;
  gap: 10px;
  padding: 0px 20px 0px 20px;
  justify-content: space-between;
  align-items: center;
}

.message{
  color: #7b4297;
  font-size: 14px;
  margin-top: 10px;
}