.logs-list {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.logs-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.logs-table {
  width: 100%;
  border-collapse: collapse;
}

.logs-table th,
.logs-table td {
  border: 1px solid #ccc;
  padding: 15px; /* Увеличено для более просторного отображения */
  text-align: left;
}

.logs-table th {
  font-weight: bold;
}

.logs-table tr:nth-child(even) {
  background-color: #fff; /* Убрано серое выделение */
}

.logs-table tr:hover {
  background-color: #f9f9f9; /* Легкое выделение при наведении */
}
